In [2]:
# Data/ml-32m/ratings.csv tags.csv

import pandas as pd
df_ratings = pd.read_csv('../Data/ml-32m/ratings.csv')
df_tags = pd.read_csv('../Data/ml-32m/tags.csv')

print("Ratings Data:")
print(df_ratings.head())

print("\nTags Data:")
print(df_tags.head())

Ratings Data:
   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858

Tags Data:
   userId  movieId          tag   timestamp
0      22    26479  Kevin Kline  1583038886
1      22    79592     misogyny  1581476297
2      22   247150   acrophobia  1622483469
3      34     2174        music  1249808064
4      34     2174        weird  1249808102

In [3]:
# TMDB dataset

df_tmdb = pd.read_csv('../Data/TMDB_movie_dataset_v11.csv')
print("\nTMDB Movie Dataset:")
df_tmdb.head()

TMDB Movie Dataset:

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [4]:
print("\nTMDB Movie Dataset Columns:")
print(df_tmdb.columns)

TMDB Movie Dataset Columns:
Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='str')

In [ ]:
# Interactive search for movie titles in the TMDB dataset

import ipywidgets as widgets
from IPython.display import display, clear_output

text_input = widgets.Text(description='Movie Title:', placeholder='Enter movie title here')
button = widgets.Button(description='Search')
output = widgets.Output()

def on_button_click(b):
    with output:
        clear_output()
        title = text_input.value.strip()
        if not title:
            print("Please enter a title to search.")
            return
        
        print(f"Searching for: '{title}'")
        
        # Exact match (case insensitive)
        exact_matches = df_tmdb[df_tmdb['title'].str.lower() == title.lower()]
        
        if not exact_matches.empty:
            print(f"\nFound {len(exact_matches)} exact match(es):")
            print(exact_matches[['id', 'title', 'release_date', 'overview']].head())
        else:
            print(f"\nNo exact match for '{title}'")
        
        # Partial match (contains the word, case insensitive)
        partial_matches = df_tmdb[df_tmdb['title'].str.lower().str.contains(title.lower(), na=False)]
        
        if not partial_matches.empty:
            print(f"\nFound {len(partial_matches)} title(s) containing '{title}':")
            print(partial_matches[['id', 'title', 'release_date']].head(10))  # Show first 10
        else:
            print(f"\nNo titles containing '{title}'")

button.on_click(on_button_click)

display(text_input, button, output)

Text(value='', description='Movie Title:', placeholder='Enter movie title here')

Button(description='Search', style=ButtonStyle())

Output()

In [ ]:
import pandas as pd
df = pd.read_csv('../Data/outputs/movielens_tmdb_merged.csv')
pd.set_option('display.max_rows', None)
df['original_language'].value_counts()

original_language
en    54879
fr     5136
it     3293
ja     2990
es     2874
de     2227
ru     2169
hi     1222
zh     1067
ko     1042
pt      888
sv      844
cn      745
fi      666
pl      634
nl      575
tr      453
ta      427
da      378
cs      367
fa      292
no      281
el      277
te      262
ml      242
hu      239
th      211
ar      205
he      204
tl      153
ro      148
xx      142
uk      116
bn      106
et       97
id       92
sr       80
is       77
sh       56
mr       52
ka       51
hr       47
ca       45
vi       41
lv       38
sk       36
lt       33
bg       33
kn       30
ur       28
ms       28
sl       26
hy       23
kk       21
bs       19
eu       19
sq       19
pa       16
mk       14
af       14
ku       13
wo       11
gu       11
bo       10
az       10
gl        9
am        8
ne        8
mn        7
ky        7
ps        6
uz        6
km        6
sw        6
nb        5
bm        5
dz        5
iu        4
zu        4
la        4
lo        4
lb        4
si        4
ga        4
qu        3
ln        3
mi        3
mt        3
fo        3
yi        3
xh        3
ak        3
cy        2
eo        2
se        2
rw        2
tg        2
ff        2
ay        2
mo        2
ig        2
cr        2
as        2
my        2
so        2
sa        2
tn        1
jv        1
sc        1
sm        1
li        1
ik        1
sn        1
tt        1
ks        1
st        1
su        1
be        1
or        1
kl        1
ht        1
Name: count, dtype: int64